<!doctype HTML>
<html>
<head>
  <link rel="stylesheet" href="/style/pong.css">
  <script src="/socket.io/socket.io.js"></script>

  <script src="/javascript/pong.js"></script>

  <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {
          new Pong('http://{{ ip }}:{{ port }}');
      });
  </script>
</head>
<body>
</body>
</html>